mixin popcode(i, url)
    if i%4 == 1
        img(style='padding:1px 0px 0px 42px;margin:0px;' src='http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=#{url}')
    else
        img(style='padding:1px 0px 0px 36px;margin:0px;' src='http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=#{url}')

mixin blank(i)
    if i%4 == 1
        img(style='padding:1px 0px 0px 42px;margin:0px;' src='blank.gif' height=120 width=120)
    else
        img(style='padding:1px 0px 0px 36px;margin:0px;' src='blank.gif' height=120 width=120)


div(style='margin:0px 0px 4px 2px;padding-left:18px') &nbsp;

- for (var popcode=0; popcode<popcodes.length; ++popcode) {
  div(style='float:left;text-align:center')
    div(style='position:relative')
      - var url = escape("https://thingcha.in/qr" + popcodes[popcode]['privatekey']);
        +popcode(popcode, url)
  if (popcode+1)%4 == 0
    div(style='margin:7px;clear:both') &nbsp;
- }
